/* global.css */
/* 폰트 */
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
        format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 기본 스타일 초기화 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dd,
dt {
    margin: 0;
    padding: 0;
}

/* 리스트 스타일 제거 */
ul,
ol {
    list-style: none;
}

/* 링크 스타일 초기화 */
a {
    text-decoration: none;
    color: inherit;
}

/* 인라인 요소 기본 스타일 제거 */
strong,
em,
abbr,
cite,
dfn,
address,
time,
var,
code,
kbd,
samp,
pre,
small {
    font-size: 100%;
    font-weight: normal;
}

/* 헤더, 프레임, 목록 요소 기본 스타일 제거 */
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
body,
figure,
hr {
    margin: 0;
    padding: 0;
}

/* 입력 요소의 기본 스타일 제거 */
input,
button,
textarea,
select,
optgroup,
option,
fieldset {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}

/* 버튼 스타일 초기화 */
button {
    background-color: transparent;
    border: none;
    padding: 0;
}

/* 박스 모델 보더와 패딩 제거 */
* {
    box-sizing: border-box;
}

/* visually-hidden */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* 기본 레이아웃 */
body {
    width: 100%;
    max-width: 768px;

    margin: 0 auto;

    font-family: 'Prentendard', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 48px;
    background-color: white;
}

.header__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 10px 24px;
}

.header__btn-close {
    width: 24px;
    height: 24px;
    padding: 0;
}

.header__title {
    font-size: 1.25rem;
    font-weight: bold;
}
