
.home__artboard {
    width: 100%;
    height: 100vh;
    position: relative;
}

.home__bg {
    position: absolute;
    right: 10%;
    bottom: 15%;
}

.home__mapand {
    position: absolute;
    top:7%;
    left: 5%;
}


.home__territory {
    position: absolute;
    top: 26%;
    right: 7%;
}

.home__eng {
    position: absolute;
    bottom:29%;
    right: 7%;
}

.home__date {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    bottom:21%;
    left: 5%;
    width: 100%;
}

.btn-move {
    position: absolute;
    bottom: 10%;
    right: 7%;
    display: inline-flex;
    padding: 0.5rem 0.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5rem;
}

.home__btn-text {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.75rem; /* 137.5% */
    letter-spacing: -0.5px;
}

@media (min-width: 500px) {
    .home__mapand {
        width: 60%;
        position: absolute;
        left: 5%;
    }
    .home__territory {
        width: 35%;
        position:absolute;
        top: 30%;
        right: 5%
    }
    .home__eng {
        position: absolute;
        right: 5%;
    }
    .home__date {
        width: 90%;
        position: absolute;
        bottom: 15%;
        left: 5%;
    }
}

@media (max-height: 850px) and (min-width: 450px) {
    .home__eng {
        height: 22%;
        position: absolute;
        bottom: 29%;
    }

}

@media (max-height : 740px) and (max-width: 390 px ) {
    .home__eng {
        height: 28%;
    }
}