.room__item-painter {

}

/* 상태 뱃지 */
.room__badge-state {
    width: 3.5rem;
    padding: 4px 4px;
    border-radius: 0.75rem;

    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: -0.5px;
    text-align: center;
}

.state-expected {
    background-color: #E9E5E5;
    color: #111111;
}

.state-end {
    background-color: #AAAAAA;
    color: white;
}

.state-ongoing {
    background-color: #FE9BC9;
    color: #111111;
}
